*, *::before, *::after {
    box-sizing: border-box;
    font-size: 16px;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Quicksand-Medium.woff2);
}

html {
    font-family: Quicksand;
}

body {
    max-width: 190ch;
    margin: 0 auto;
    background-color: rgb(178, 199, 218);
}

main {
    /* border: 5px dashed red; */
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }
}

.article {
    _border: 5px dashed blue;
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;
    overflow: hidden;
}

.picture {
    _border: 5px dashed green;
    position: relative;
}

img {
    _border: 5px dashed rgb(109, 65, 8);
    width: 100%;
    margin: 0;
    _object-fit: cover;
}

.hint {
    position: absolute;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;

    top: 1rem;
    right: 1rem;
    opacity: .5;
}

.copyright {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.description {
    margin: 1rem;
    line-height: 1.5;
    }

.order{
    margin: 1rem;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 5rem;
    border-radius: 0.5rem;
    background-color: rgb(178, 199, 218);
    display: block;

    position: relative;
}

.prize {
    background-color: white;
    margin: .5rem;
    padding: .5rem 1.5rem;

    text-align: center;
}

.size-quan {
    _border: 5px dashed green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media screen and (min-width: 768px) {
    .size-quan {
        flex-direction: column;
    }
}

@media screen and (min-width: 1190px) {
    .size-quan {
        flex-direction: row;
    }
}

.size, .quan {
    _border: 5px dashed blue;
    display: flex;
    flex-direction: row;

    max-width: 100rem;
}

.text {
    _border: 5px dashed darkcyan;
    width: 100%;
    max-width: 2000rem;
}

select {
    width: 3.5rem;
    height: 1.5rem;
    margin: auto 0;
}

button {
    _border: 5px dashed red;
    background-color: blue;
    color: white;
    /* width: 20rem; */
    border-radius: .5rem;
    margin: 1.5rem .5rem;
    
    position: absolute;
    left: 0.5rem;
    right: .5rem;
    
    text-align: center;
    padding: .5rem 1.5rem;
}

.color {
    display: flex;
    align-items: center;
}

.c-padd {
    margin: .25rem;    
}

.radius {
    width: 1.5rem;
    height: 1.5rem;
}

#d1 {    
    background-color: blue;
    border-radius: 50%;
}

#d2 {
    background-color: red;
    border-radius: 50%;
}

#d3 {
    background-color: black;
    border-radius: 50%;
}

#d4 {
    background-image: linear-gradient(to right, green 50%, black 50%);
    border-radius: 50%;
}

#d5 {
    background-image: linear-gradient(to right, blue 50%, black 50%);
    border-radius: 50%;
}

#d6 {
    background-image: linear-gradient(to right, purple 50%, black 50%);
    border-radius: 50%;
}

#d7 {
    background-image: linear-gradient(to right, red 50%, white 50%);
    border-radius: 50%;
}

#d8 {
    background-image: linear-gradient(to right, black 50%, white 50%);
    border-radius: 50%;
}
